//! **************************************************************************
// Written by: Map P.49d on Fri Jul 05 14:05:43 2013
//! **************************************************************************

SCHEMATIC START;
COMP "vgaGreen<0>" LOCATE = SITE "P14" LEVEL 1;
COMP "vgaGreen<1>" LOCATE = SITE "P17" LEVEL 1;
COMP "clock" LOCATE = SITE "P38" LEVEL 1;
COMP "vgaRed<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "vgaRed<1>" LOCATE = SITE "P21" LEVEL 1;
COMP "vgaHsync" LOCATE = SITE "P89" LEVEL 1;
COMP "vgaVsync" LOCATE = SITE "P90" LEVEL 1;
COMP "switch<1>" LOCATE = SITE "P30" LEVEL 1;
COMP "switch<2>" LOCATE = SITE "P32" LEVEL 1;
COMP "switch<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "switch<4>" LOCATE = SITE "P35" LEVEL 1;
COMP "switch<5>" LOCATE = SITE "P36" LEVEL 1;
COMP "switch<6>" LOCATE = SITE "P37" LEVEL 1;
COMP "switch<7>" LOCATE = SITE "P47" LEVEL 1;
COMP "probe<0>" LOCATE = SITE "P62" LEVEL 1;
COMP "probe<1>" LOCATE = SITE "P60" LEVEL 1;
COMP "probe<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "probe<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "probe<4>" LOCATE = SITE "P85" LEVEL 1;
COMP "probe<5>" LOCATE = SITE "P87" LEVEL 1;
COMP "probe<6>" LOCATE = SITE "P86" LEVEL 1;
COMP "probe<7>" LOCATE = SITE "P88" LEVEL 1;
COMP "vgaBlue<0>" LOCATE = SITE "P91" LEVEL 1;
COMP "vgaBlue<1>" LOCATE = SITE "P16" LEVEL 1;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

